<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>symbols-pw</string>
	<key>connections</key>
	<dict>
		<key>06C92DF6-8A72-42A1-9E1D-85A195AA62E9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BF903327-9935-42A7-84E4-F9822B1CDF35</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>0EC141A3-7925-4552-8C87-1F624D5D97EF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BF903327-9935-42A7-84E4-F9822B1CDF35</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>24667B9E-3087-4D88-AB22-32BE001789E7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>06C92DF6-8A72-42A1-9E1D-85A195AA62E9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>0EC141A3-7925-4552-8C87-1F624D5D97EF</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>html</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>EC1C792D-E7C6-43E0-8CCB-7573DF642AC9</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>python</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>252537D5-FDAA-43DD-8EC6-5C7D1D74EFB4</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>code point</string>
			</dict>
		</array>
		<key>252537D5-FDAA-43DD-8EC6-5C7D1D74EFB4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BF903327-9935-42A7-84E4-F9822B1CDF35</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>EC1C792D-E7C6-43E0-8CCB-7573DF642AC9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BF903327-9935-42A7-84E4-F9822B1CDF35</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Piotr Wilczyński</string>
	<key>description</key>
	<string>Find utf symbols and paste them</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Symbols</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>import sys
import symbols
sys.stdout.write(symbols.to_python(symbols.get_by_idx({query})))</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>EC1C792D-E7C6-43E0-8CCB-7573DF642AC9</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>BF903327-9935-42A7-84E4-F9822B1CDF35</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>utf</string>
				<key>runningsubtext</key>
				<string>loading symbols</string>
				<key>script</key>
				<string>python symbols.py -a {query}</string>
				<key>subtext</key>
				<string>find unicode symbols</string>
				<key>title</key>
				<string>Symbols</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>24667B9E-3087-4D88-AB22-32BE001789E7</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>import sys
import symbols
sys.stdout.write(symbols.to_codepoint(symbols.get_by_idx({query})))</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>252537D5-FDAA-43DD-8EC6-5C7D1D74EFB4</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>import sys
import symbols
sys.stdout.write(symbols.get_by_idx({query})[1])</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>06C92DF6-8A72-42A1-9E1D-85A195AA62E9</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>import sys
import symbols
sys.stdout.write(symbols.to_html(symbols.get_by_idx({query})))</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0EC141A3-7925-4552-8C87-1F624D5D97EF</string>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>06C92DF6-8A72-42A1-9E1D-85A195AA62E9</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>0EC141A3-7925-4552-8C87-1F624D5D97EF</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>24667B9E-3087-4D88-AB22-32BE001789E7</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>252537D5-FDAA-43DD-8EC6-5C7D1D74EFB4</key>
		<dict>
			<key>ypos</key>
			<real>380</real>
		</dict>
		<key>BF903327-9935-42A7-84E4-F9822B1CDF35</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>EC1C792D-E7C6-43E0-8CCB-7573DF642AC9</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
